body
{

  margin:0;
}
h2
{
    text-align: center;
  font-family: 'Pacifico', cursive;
}
h3 
{
  text-align:center;
  font-family:sans-serif;
}


.main
{
  padding-top:18px;
  text-align:center;
  font-size: 40px;
  color:black;
  text-align:center;
  font-family: 'Dancing Script', cursive;
  
}
 .grid-container{
  display: grid;
  grid-template-columns: 150px auto;
  background-color: white;
}

.grid-container2
{

display: grid;
grid-template-rows:370px;
background-image:url(../img/hello.jpg) ;
}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
  border: 1px solid  white;
  font-family: sans-serif;
}
.wrap a
{
  font-size: 20px;
  color: grey;
  padding: 14px 16px;
  text-decoration: none;
}
.wrap button
{

  background-color: black;
  color:white;
  text-align: center;
  font-size: 12px;
  padding: 14px 16px ;
  border-radius: 8px;
  cursor:pointer;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 170px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  list-style: none;
  border:solid 0.5px #ff4d94;
}

/* Links inside the dropdown */
.dropdown-content a{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown .login
{

  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
a:hover
{
  color: #ff4d94;
  text-decoration: underline; 
}

.meta
{
  list-style: none;
  text-align:center;
}
.grid-container3
{
  background-color: grey;
  display: grid;
  grid-template-columns:auto auto auto;
  grid-template-rows:200px;
  object-fit: cover;
}
.icon
{
padding: 14px 16px ; 
}
.para
{
  font-family:sans-serif;
  text-align: center;
}
.grid-container4{
    display:grid;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 300px;
    padding-left:300px;
    position:relative;
}
.grid-container4{
 margin-top: 8px;
 vertical-align: middle;
}


/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}
